{{> handler}}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
		<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
		<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner">
		<div class="carousel-item active">
			{{#with row1}}
			<img class="d-block w-100 thumbnail" data-parallax='{"y": -230}' src="{{ruta_img}}">

			{{/with}}

			<div class="contentD">
				<div class="containerContent">
					<div class="descripcion">
						{{#with row1}}
						<h1 class="title">{{nombre_pelicula}}</h1>
						<div class="statusP">
							<span class="material-icons eyeP">remove_red_eye</span>
							<p class="eyeE"> {{numero_vistas}} </p>
							<span class="badge badge-secondary">PELICULA</span>
							<p class="dateP">{{fecha_pelicula}}</p>
							<button class="heart"><span class="material-icons">favorite_border</span></button>
						</div>
						<p class="descripcionP">{{descripcion_pelicula}}</p>


						<a href="/pelicula?nombre_pelicula={{nombre_pelicula}}" id="nombre_pelicula" class="verP"
							data-id="{{id_pelicula}}" data-state="{{numero_vistas}}">Ver pelicula</a>
						{{/with}}
					</div>
				</div>
			</div>
		</div>
		<div class="carousel-item">
			{{#with row2}}
			<img class="d-block w-100 thumbnail" data-parallax='{"y": -230}' src="{{ruta_img}}" alt="Second slide">
			{{/with}}

			<div class="contentD">
				<div class="containerContent">
					<div class="descripcion">

						{{#with row2}}
						<h1 class="title">{{nombre_pelicula}}</h1>
						<div class="statusP">
							<span class="material-icons eyeP">remove_red_eye</span>
							<p class="eyeE"> {{numero_vistas}} </p>
							<span class="badge badge-secondary">PELICULA</span>
							<p class="dateP">{{fecha_pelicula}}</p>
							<button class="heart"><span class="material-icons">favorite_border</span></button>
						</div>
						<p class="descripcionP">{{descripcion_pelicula}}</p>
						<a href="/pelicula?nombre_pelicula={{nombre_pelicula}}" id="nombre_pelicula" class="verP"
							data-id="{{id_pelicula}}" data-state="{{numero_vistas}}">Ver pelicula</a>
						{{/with}}
					</div>

				</div>
			</div>
		</div>
		<div class="carousel-item">
			{{#with row3}}
			<img class="d-block w-100 thumbnail" data-parallax='{"y": -230}' src="{{ruta_img}}" alt="Third slide">
			{{/with}}

			<div class="contentD">
				<div class="containerContent">
					<div class="descripcion">
						{{#with row3}}
						<h1 class="title">{{nombre_pelicula}}</h1>
						<div class="statusP">
							<span class="material-icons eyeP">remove_red_eye</span>
							<p class="eyeE"> {{numero_vistas}} </p>
							<span class="badge badge-secondary">PELICULA</span>
							<p class="dateP">{{fecha_pelicula}}</p>
							<button class="heart"><span class="material-icons">favorite_border</span></button>
						</div>
						<p class="descripcionP">{{descripcion_pelicula}}</p>

						<a href="/pelicula?nombre_pelicula={{nombre_pelicula}}" id="nombre_pelicula" class="verP"
							data-id="{{id_pelicula}}" data-state="{{numero_vistas}}">Ver pelicula</a>
						{{/with}}
					</div>
				</div>
			</div>
		</div>
	</div>


</div>
<div class="containerAll">
	<h1 class="favTitle">Pelis más vistas</h1>
	<span class="material-icons star">star_outline</span>
	<!-- Swiper -->
	<div class="netflix-carousel">
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					{{#with row1}}
					<a href="/pelicula?nombre_pelicula={{nombre_pelicula}}" id="nombre_pelicula" class="linkSwiper"
						data-id="{{id_pelicula}}" data-state="{{numero_vistas}}">
						<div class="containerSwiper">
							<img class="image" src="{{ruta_img}}" alt="">
							<div class="middle">
								<span class="material-icons eyeSwiper">remove_red_eye</span>
								<p class="textoSwiper">{{numero_vistas}}</p>
								<div class="text">{{nombre_pelicula}}</div>
							</div>
						</div>
					</a>
					{{/with}}
				</div>
				<div class="swiper-slide">
					{{#with row2}}
					<a href="/pelicula?nombre_pelicula={{nombre_pelicula}}" id="nombre_pelicula" class="linkSwiper"
						data-id="{{id_pelicula}}" data-state="{{numero_vistas}}">
						<div class="containerSwiper">
							<img class="image" src="{{ruta_img}}" alt="">
							<div class="middle">
								<span class="material-icons eyeSwiper">remove_red_eye</span>
								<p class="textoSwiper">{{numero_vistas}}</p>
								<div class="text">{{nombre_pelicula}}</div>
							</div>
						</div>
					</a>
					{{/with}}
				</div>
				<div class="swiper-slide">
					{{#with row3}}
					<a href="/pelicula?nombre_pelicula={{nombre_pelicula}}" id="nombre_pelicula" class="linkSwiper"
						data-id="{{id_pelicula}}" data-state="{{numero_vistas}}">
						<div class="containerSwiper">
							<img class="image" src="{{ruta_img}}" alt="">
							<div class="middle">
								<span class="material-icons eyeSwiper">remove_red_eye</span>
								<p class="textoSwiper">{{numero_vistas}}</p>
								<div class="text">{{nombre_pelicula}}</div>
							</div>
						</div>
					</a>
					{{/with}}
				</div>
				<div class="swiper-slide">
					{{#with row4}}
					<a href="/pelicula?nombre_pelicula={{nombre_pelicula}}" id="nombre_pelicula" class="linkSwiper"
						data-id="{{id_pelicula}}" data-state="{{numero_vistas}}">
						<div class="containerSwiper">
							<img class="image" src="{{ruta_img}}" alt="">
							<div class="middle">
								<span class="material-icons eyeSwiper">remove_red_eye</span>
								<p class="textoSwiper">{{numero_vistas}}</p>
								<div class="text">{{nombre_pelicula}}</div>
							</div>
						</div>
					</a>
					{{/with}}
				</div>
				<div class="swiper-slide">
					{{#with row5}}
					<a href="/pelicula?nombre_pelicula={{nombre_pelicula}}" id="nombre_pelicula" class="linkSwiper"
						data-id="{{id_pelicula}}" data-state="{{numero_vistas}}">
						<div class="containerSwiper">
							<img class="image" src="{{ruta_img}}" alt="">
							<div class="middle">
								<span class="material-icons eyeSwiper">remove_red_eye</span>
								<p class="textoSwiper">{{numero_vistas}}</p>
								<div class="text">{{nombre_pelicula}}</div>
							</div>
						</div>
					</a>
					{{/with}}
				</div>
				<div class="swiper-slide">
					{{#with row6}}
					<a href="/pelicula?nombre_pelicula={{nombre_pelicula}}" id="nombre_pelicula" class="linkSwiper"
						data-id="{{id_pelicula}}" data-state="{{numero_vistas}}">
						<div class="containerSwiper">
							<img class="image" src="{{ruta_img}}" alt="">
							<div class="middle">
								<span class="material-icons eyeSwiper">remove_red_eye</span>
								<p class="textoSwiper">{{numero_vistas}}</p>
								<div class="text">{{nombre_pelicula}}</div>
							</div>
						</div>
					</a>
					{{/with}}
				</div>
				<div class="swiper-slide">
					{{#with row7}}
					<a href="/pelicula?nombre_pelicula={{nombre_pelicula}}" id="nombre_pelicula" class="linkSwiper"
						data-id="{{id_pelicula}}" data-state="{{numero_vistas}}">
						<div class="containerSwiper">
							<img class="image" src="{{ruta_img}}" alt="">
							<div class="middle">
								<span class="material-icons eyeSwiper">remove_red_eye</span>
								<p class="textoSwiper">{{numero_vistas}}</p>
								<div class="text">{{nombre_pelicula}}</div>
							</div>
						</div>
					</a>
					{{/with}}
				</div>
				<div class="swiper-slide">
					{{#with row8}}
					<a href="/pelicula?nombre_pelicula={{nombre_pelicula}}" id="nombre_pelicula" class="linkSwiper"
						data-id="{{id_pelicula}}" data-state="{{numero_vistas}}">
						<div class="containerSwiper">
							<img class="image" src="{{ruta_img}}" alt="">
							<div class="middle">
								<span class="material-icons eyeSwiper">remove_red_eye</span>
								<p class="textoSwiper">{{numero_vistas}}</p>
								<div class="text">{{nombre_pelicula}}</div>
							</div>
						</div>
					</a>
					{{/with}}
				</div>
				<div class="swiper-slide">
					{{#with row9}}
					<a href="/pelicula?nombre_pelicula={{nombre_pelicula}}" id="nombre_pelicula" class="linkSwiper"
						data-id="{{id_pelicula}}" data-state="{{numero_vistas}}">
						<div class="containerSwiper">
							<img class="image" src="{{ruta_img}}" alt="">
							<div class="middle">
								<span class="material-icons eyeSwiper">remove_red_eye</span>
								<p class="textoSwiper">{{numero_vistas}}</p>
								<div class="text">{{nombre_pelicula}}</div>
							</div>
						</div>
					</a>
					{{/with}}
				</div>
				<div class="swiper-slide">
					{{#with row10}}
					<a href="/pelicula?nombre_pelicula={{nombre_pelicula}}" id="nombre_pelicula" class="linkSwiper"
						data-id="{{id_pelicula}}" data-state="{{numero_vistas}}">
						<div class="containerSwiper">
							<img class="image" src="{{ruta_img}}" alt="">
							<div class="middle">
								<span class="material-icons eyeSwiper">remove_red_eye</span>
								<p class="textoSwiper">{{numero_vistas}}</p>
								<div class="text">{{nombre_pelicula}}</div>
							</div>
						</div>
					</a>
					{{/with}}
				</div>
			</div>
			<!-- Add Pagination -->
			<div class="swiper-pagination"></div>
		</div>
	</div>

	<div class="todasLasPelis">
		<img src="https://image.tmdb.org/t/p/original/b0Sokh7DazDAxGOpt0ln9soTTET.jpg" data-parallax='{"y": 230}' alt="">
	</div>

	<div class="container">
		<div class="card-deck">
			{{#each all}}
			<div class="card">

				<div class="card-body text-center">
					<a href="/pelicula?nombre_pelicula={{nombre_pelicula}}" id="nombre_pelicula" class="linkSwiper"
						data-id="{{id_pelicula}}" data-state="{{numero_vistas}}">
						<div class="containerSwiper">
							<img class="image" src="{{ruta_img}}" alt="">
							<div class="middle">
								<span class="material-icons eyeSwiper">remove_red_eye</span>
								<p class="textoSwiper">{{numero_vistas}}</p>
								<div class="text">{{nombre_pelicula}}</div>
							</div>
						</div>
					</a>
				</div>
			</div>
			{{/each}}
		</div>
	</div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script>
	var socket = io.connect('http://192.168.0.12:8080/');

	socket.on('counter', function (data) {
		console.log('Usuarios en linea :', data.count);
		socket.emit($('#counter').text(data.count));
	})
</script>